{% extends "base.html.twig" %}

{% block body %}
	<body class="BodyCv">
		<header class="headerCV">
			<h2>{{ Poste }}</h2>
			<h2>SAUBIN Titouan</h2>
			<p>Jeune étudiant de 18 ans en première année de BUT Réseau et télécommunications.<br> J'ai toujours eu l'envie d'apprendre des compétences divers et d'appliquer celles déjà acquises, travailler dans une entreprise est pour moi un accomplissement personnel et professionnel de mes apprentissages.</p>
			<img class="imgMoi" src="{{asset("MoiCv2.jpg")}}" alt="Moi">
		</header>
		
		<section class="cvSection1">
			<h2 class="cvh2">Compétences</h2>
			<ol>
				<li><h5>Informatique:</h5>
				<ul>
					<li>Langage de programmation C et python</li>
					<li>Développement Web</li>
					<li>Administration de réseaux locaux</li>
					<li><h6>Utilisations d'outils informatique</h6>
						<ul>
							<li>Messagerie Outlook et Gmail</li>
							<li>Pack Office</li>
							<li>Paint et Canva</li>
						</ul>
					</li>
				</ul></li>
				
				<li><h5>Divers</h5>
				<ul>
					<li>Entretien d’espaces extérieures </li>
					<li>Distribution et démarchage en porte à porte</li>
				</ul></li>
			</ol>
		</section>

		<section class="cvSection2">
			<h2 class="cvh2">Expérience professionnelle</h2>
			<ul>

				<li>
					<h4>Employé PGC chez Carrefour Market</h4>
					<p>3 semaines en août 2023</p>
					<p>
						Gestion des stocks<br>
						Mise en rayons<br>
						Renseignement et aides au clients<br>
					</p>
				</li>

				<li>
					<h4>Employé d’entretien en mairie</h4>
					<p>2 semaines en Juillet 2022</p>
					<p>
						Tonte et arrosage d’espace vert<br>
						Rénovation de portail<br>
						Souffleur et nettoyeur haute pression d’espace public<br>
					</p>
				</li>

			</ul>
		</section>

		<section class="cvSection1">
			<h2 class="cvh2">Formation</h2>
			<ul>
				<li>
					<h4>1ère année BUT RT</h4>
			</li>
				<p>
				Université Jean Monnet à Roanne: 2023-2024
			</p>

			<li>
				<h4>Bac général : Math / Physique </h4>
			</li>
			<p>
				Lycée Camille Corot à Morestel: 2020-2023
			</p>

			</ul>
		</section>

    <section class="cvSection2">
		<h2 class="cvh2">Savoir être</h2>
		<ul>
			<li>Avenant et Courtois</li>
			<li>Autonome et Organisé</li>
			<li>A l’écoute et Patient</li>
			<li>Sens de l’initiative</li>
			<li>Travail en équipe</li>
		</ul>
	</section> 

	<section class="cvSection1Bis">
		<h5>Permettez moi de me renseigner sur vous:</h5>
		<button type="button"> <a href="/Plus">Cliquez ici pour en savoir plus</a></button>
		<p>Et pour ainsi récupérer mon cv</p>
	</section>

	<section class="cvSection">
	<p class="texte-blanc">
		_<br>
		_<br>
	</p>
	</section>
	</body>

{% endblock %}
