{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h1>{{ controller_name }} de saubin titouan</h1>
        <p>
            Bienvenue sur mon portfolio en ligne, je suis un jeune étudiant de 18 ans en première année de Bachelor Universitaire de Technologie Réseaux et Télécommunications à Roanne.<br>
            J’ai l’envie de développer mes compétences acquises mais aussi en acquérir de nouvelles.<br>
            Je réside actuellement au domicile familliale à Porcieu-Amblagnieu mais j'habite aussi dans un logement sur Roanne aux alentours de l'IUT Jean Monnet.<br>
            Je peux me déplacer régulièrement entre mon domicile et mon appartement puisque je possède le permis B et une voiture personelle.
        </p>
    </section>
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
        <div class="card-header">Informations personelle</div>
        <div class="card-body">
            <h4 class="card-title">Pour me contacter :</h4>
            <ul class="card-text">
                <li>Mail: saubin.titouan@gmail.com</li>
                <li>Téléphone: 07 68 83 01 72</li>
                <li>Adresse appartement: 16 rue François Poutignat, 42300, Roanne</li>
                <li>Adresse domicile: 172 rue des écoles, 38390, Porcieu-Amblagnieu</li>
            </ul>
        </div>
    </div>
    <p>  
    Pour plus d'informations professionel je vous laisse accès à mon cv mais aussi à un résumé plus divers de ce que j'aime et ce que je suis dans la rubrique en savoir plus.<br>
    Vous pouvez aussi me contacter avec les informations ci-dessus et je reste à votre disposition pour d'autres demandes.
    </p>
    <button type="button" class="btn btn-dark"> <a href="/descri">En savoir plus</a> </button>
    <p>
        _<br>
        _<br>
    </p>
        
{% endblock %}
