{% extends "base.html.twig" %}

{% block body %}
	<body>
		<header class="headCompé1">
			<h3>{{ Titre }}</h3>
		</header>
		<div class="accordion" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="heading1">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
						Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications (habilitation électrique)
					</button>
				</h2>
				<div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample" style="">
					<div class="accordion-body">
						<ul>
							<li>Identifier les potentiels risques éléectriques d'une installation</li>
							<li>Utiliser un appareil de mesure (Multimètre)</li>
							<li>Manipuler un circuit avec des dîpoles</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Configurer les fonctions de base du réseau local (Ethernet, IPv4, intro IPv6, commutation, VLANs, routage statique)
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
					<div class="accordion-body">
						<ul>
							<li>Adressage Ip d'un réseau local</li>
							<li>Configurer un réseau local depuis un switch</li>
							<li>Capable d'analyser les échanges d'un réseau</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingTwo">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Savoir identifier les dysfonctionnements du réseau local
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
					<div class="accordion-body">
						<ul>
							<li>Identifier différents problèmes ou savoir solutionner des erreures</li>
							<li>Prévenir des failles de sécurité sur un réseau</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingThree">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Installer un poste client (et le sécuriser: antivirus, parefeu, comptes, ...)
					</button>
				</h2>
				<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<ul>
							<li>Installer une machine virtuelle</li>
							<li>Configurer les fonctions de bases sous ubuntu</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
