{% extends "base.html.twig" %}

{% block body %}
	
	<body>
		<h2 class="titreForm">{{ Titre }}</h2>
		<legend class="titreForm">Merci de me donner des informations sur vous</legend>

		<form method="get">
			<label for="nom_entreprise">Nom de l'entreprise :</label>
			<input type="text" id="nom_entreprise" name="nom_entreprise" required><br><br>

			<label for="adresse">Adresse :</label>
			<input type="text" id="adresse" name="adresse" required><br><br>

			<label for="ville">Ville :</label>
			<input type="text" id="ville" name="ville" required><br><br>

			<label for="code_postal">Code postal :</label>
			<input type="text" id="code_postal" name="code_postal" required><br><br>

			<label for="telephone">Téléphone :</label>
			<input type="tel" id="telephone" name="telephone" required><br><br>

			<label for="email">E-mail :</label>
			<input type="email" id="email" name="email" required><br><br>

			<input type="submit" class="btn btn-primary" onclick="downloadFile()" value="Valider pour obtenir mon CV">
		</form>

		<p>
			_<br>
			_<br>
		</p>

    <script>
      function downloadFile() {
        var fileUrl = "{{asset("Cv.pdf")}}";
        // Créez un élément <a> invisible
        var link = document.createElement("a");
        link.href = fileUrl;
        link.download = "";
        // Ajoutez l'élément <a> à la page
        document.body.appendChild(link);
        // Cliquez sur le lien pour déclencher le téléchargement
        link.click();
        // Supprimez l'élément <a> de la page
        document.body.removeChild(link);
      }
    </script>

	</body>

{% endblock %}
